.hover-effect-scale-dessert li p {
	font-size: 21pt;
	padding: 8px;
}

.fillings-btn-more {
	margin-top: 15px;
}
.price-dessert {
	font-weight: normal;
	font-size: 18pt;
}

.name-dessert-under {
	font-size: 14pt;
	padding-top: 10px;
}
