<header class="navbar" id="navigation">
	<div class="container">
		<div class="navbar_inner">
			<a class="logo" id="link_logo" href="index.html">
				<img class="logo" src="assets/images/logo.webp" alt="Логотип"/>
			</a>
			<nav class="nav">
				<a class="nav_link" href="category.html">ДЕСЕРТЫ</a>
				<a class="nav_link" href="filling.html">НАЧИНКИ</a>
				<a class="nav_link" href="gallery.html">ГАЛЕРЕЯ</a>
				<a class="nav_link" href="reviews.html">ОТЗЫВЫ</a>
				<a class="nav_link" href="order.html">ОФОРМИТЬ ЗАКАЗ</a>
			</nav>
		</div>
	</div>
</header>
